:root {
  --primary-color:  #F6B81A;  
  --secondary-color:  #1AA595;
  --accent1-color: #D17E30;
  --accent2-color:  #5B3D1E;
  --accent1-color-transparent: #D17E3077;
  --heading-color: black;
  --link-color: #eee;
  --heading-font:  Georgia;
  --text-font:  "Instrument Sans";

  
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: var(--text-font) ;
}

/*The Header styles */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 20px 300px;
  background-color: var(--accent2-color);
}

header .logo {
  height: 90px;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

header nav a {   
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--link-color);
}

/* hero is a container for article */
.hero {
  position: relative;
}

#gradient {
  background-image: linear-gradient(to bottom, #fff2, transparent);
  position: absolute;
  inset: 0;
}

.hero img {
  width: 100%;
}
  
.hero-index img {
  position: absolute;
  width: 100%;
  height: 50%; 
  bottom: 10px;
}

/* title font and color */
h1 {
  font-family: var(--heading-font);
  font-size: 4rem; 
}  

#about h1 {
  position: absolute;
  top: 50px;
  left: 50px;
}

article {
  position: absolute;
  bottom: 10px;
  background-color: var(--accent1-color-transparent);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  font-size: 1.6rem;
}

.hero article img {
  width: 300px;
  float: right;
  border-radius: 8px;
}

/* title font and color */
#about section h2 { 
  font-family: var(--heading-font);
  font-size: 2rem;
  color: var(--heading-color);
  text-align: center;
}

.hero h2 {
  font-size: 25.6px;
  font-weight: unset;
}

section {
  font-size: 1.6rem;
  padding: 2rem;
} 

section img {
  width: 100%;
}

#history {
  background-color: var(--accent1-color);
}

#history div { 
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  gap: 1rem;
  align-items: center;
}

/* products and offering*/
#products div {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}

#products div + div {
  margin-top: 4rem;
}

#products img {
  object-fit: cover;
  height: 500px;
}

/* Trips*/
#trips section {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}

#trips div + div {
  margin-top: 4rem;
}

#trips img {
  object-fit: cover;
  height: 500px;
}

/* Adventure section */
#adventure {
  background-color: var(--primary-color);
}


#adventure div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} 

#adventure img {
  object-fit: cover;
  height: 100%;
}

#contact-us{ 
  background-color: var(--accent1-color);
}

/* Map */
#contact-info {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

/* Staff*/
#staff {
  background-color: var(--primary-color) ;
}

#staff-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} 

#staff-img img {
  height: 500px;
  object-fit: cover;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: var(--accent1-color);
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
}

/* The Contact form style */
form {
  width: 750px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
}

fieldset {
  display: grid;
  grid-gap: 0.5rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
}

legend {
  padding: 0.5rem;
  color: var(--heading-color);
  font-size: 1.5em;
  font-family: var(--heading-font);
}

label, input, button, select, textarea {
  font-family: var(--text-font);  
}

textarea {
  margin-top: 1rem;
  width: 100%;
}

label {
  text-align: right;
  padding-right: 1rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 22px;
  vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: var(--accent1-color);
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: var(--secondary-color);
}


.form-item {
  display: grid;
  align-items: center;
}

.column1 {
  grid-template-columns: 3fr 1fr;
  margin: 0.5rem 0;
}

.column2 {
  grid-template-columns: 1fr 2fr;
}




/*The footer styles */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  padding: 20px 0;
  color: white;
  background-color: var(--accent2-color);
}

footer nav.sociallinks a {
  margin: 0 10px;
  text-decoration: none;
}

footer nav.sociallinks img {
  width: 30px;
  height: auto;
  text-align: right;
}

#wireframe img {
  width: 40px;
  height: auto;
  text-align: right;
}

#wireframe a {
  color: var(--link-color);
}

