:root {
  --primary-color:  #F6B81A;  
  --secondary-color:  #1AA595;
  --accent1-color: #D17E30;
  --accent2-color:  #5B3D1E;
  --accent1-color-transparent: #D17E3077;
  --heading-font:  Georgia;
  --text-font:  "Instrument Sans";

  
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: var(--text-font) ;
}

/*The Header styles */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: var(--secondary-color) ;
}

header .logo {
  height: 90px;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

header nav a {   
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--accent2-color);
}

/* hero is a container for article */
.hero {
  position: relative;

}

.hero img {
  width: 100%;
}
  

/* title font and color */
h1 {
  position: absolute;
  top: 50px;
  font-family: var(--heading-font);
  font-size: 4rem;
  left: 50px;
}  

article {
  position: absolute;
  bottom: 10px;
  background-color: var(--accent1-color-transparent);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  font-size: 1.6rem;
}

.hero article img {
  width: 300px;
  float: right;
  border-radius: 8px;
}

/* title font and color */
section h2 { 
  font-family: var(--heading-font);
  font-size: 2rem;
  color: var(--secondary-color);
  text-align: center;
}

.hero h2 {
  font-size: 2rem;
  font-weight: unset;
}

section {
  font-size: 1.6rem;
  padding: 2rem;
} 

section img {
  width: 100%;

}

.history {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  gap: 1rem;
  align-items: center;
}

/* Adventure section */
.adventure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} 

.adventure img {
  object-fit: cover;
  height: 100%;
}

/*The footer styles */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: var(--secondary-color);
}

footer nav.sociallinks a {
  margin: 0 10px;
  text-decoration: none;
}

footer nav.sociallinks img {
  width: 30px;
  height: auto;
}

